.project-slider {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin: 50px auto;
}
.project-slider .content-slid {
  display: flex;
  align-items: space-between;
  flex-direction: column;
  width: 95%;
  padding: 10px;
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
}
.project-slider .content-slid:hover {
  box-shadow: -0px 5px 10px 0 rgb(43, 43, 43);
  transform: translateY(-5px);
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  -o-transform: translateY(-5px);
}
.project-slider .content-slid img {
  width: 100%;
  height: 300px;
}
.project-slider .content-slid h2 {
  width: 100%;
  text-align: right;
}
.project-slider .content-slid p {
  width: 100%;

  font-size: 12px;
  color: rgb(145, 145, 145);
  text-align: right;
}
