.project {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project .roject-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-content .header-content-title {
  border-right: 6px solid #faa000;
  padding-right: 30px;
}
.project .project-content .header-content-btn button {
  font-size: 15px;
  font-weight: bold;
  width: 400px;
  padding: 10px;
  margin-top: 5px;
  border: 4px solid #faa000;
  background-color: transparent;
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}
.project .project-content .header-content-btn button::before {
  z-index: -1;
  content: "";
  position: absolute;
  background-color: #faa000;
  top: 0;
  right: 0;
  width: 100%;
  height: 0;
  border-radius: 0 0 50% 50%;
  -webkit-border-radius: 0 0 50% 50%;
  -moz-border-radius: 0 0 50% 50%;
  -ms-border-radius: 0 0 50% 50%;
  -o-border-radius: 0 0 50% 50%;
  transition: all 0.5s ease-in;
  -webkit-transition: all 0.7s ease-in;
  -moz-transition: all 0.5s ease-in;
  -ms-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
}
.project .project-content .header-content-btn button:hover::before {
  height: 100px;
}

/* -------------- responsive ----------------- */
@media screen and (max-width: 1200px) {
  .header-content .header-content-title {
    padding-right: 25px;
    font-size: 15px;
  }
  .project .project-content .header-content-btn button {
    font-size: 15px;
    width: 400px;
    padding: 8px;
    margin-top: 5px;
  }
}
@media screen and (max-width: 992px) {
  .header-content .header-content-title {
    padding-right: 25px;
    font-size: 13px;
  }
  .project .project-content .header-content-btn button {
    font-size: 13px;
    width: 400px;
    padding: 6px;
    margin-top: 5px;
  }
}
@media screen and (max-width: 768px) {
  .header-content .header-content-title {
    padding-right: 25px;
    font-size: 10px;
  }
  .project .project-content .header-content-btn button {
    width: 300px;
  }
}
@media screen and (max-width: 567px) {
  .header-content .header-content-title {
    padding-right: 25px;
    font-size: 10px;
  }
  .project .project-content .header-content-btn button {
    width: 200px;
    border: 3px solid #faa000;
  }
}
@media screen and (max-width: 400px) {
  .header-content .header-content-title {
    padding-right: 20px;
    font-size: 10px;
  }
  .project .project-content .header-content-btn button {
    width: 180px;
    border: 2px solid #faa000;
  }
}
